.box {
  width: 50%;
  height: 3rem;
  background-color: #aaa;
  border-radius: 5px;
  margin: 1rem;
}

.button {
  margin: 1rem 0 1rem 1rem;
}

#input-text {
  width: 50%;
  margin-left: 1rem;
}

.active {
  background-color: #3f9aaa;
  color: #fff;
  text-align: center;
}
